.wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.label {
  margin-bottom: 0.5rem;
}

.inputGroup {
  display: flex;
}

.textField {
  padding: 0.5rem;
  flex-grow: 1;
}

.submit {
  display: block;
  width: 50%;
  margin: auto;
  padding: 0.5rem;
}

.submit {
  display: block;
  width: 50%;
  margin: auto;
  padding: 0.5rem;
}
